* {
  margin: 0;
}

.hidden {
  display: none;
}

html, body {
  font-family: sans-serif;
  font-size: 12px;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
}

.input {
  display: flex;
  flex-flow: row nowrap;
  border-top: 1px solid #000;
  flex: 0 1 auto;
  padding: 1em;
}

aside {
  min-width: 10em;
  flex: 0 1 auto;
  padding: 1rem;
  border-right: 1px solid gray;
}

aside > h3 {
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.25em;
}

#chat {
  flex: 1 1 auto;
  padding: 1rem;
}

#chat-status-msg {
  font-family: sans-serif;
  font-style: italic;
}

#users {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}

#users > li {
  padding: 0.25em;
  cursor: pointer;
}

#users > li:hover {
  background-color: #eee;
}

#text-input {
  flex: 1 1 auto;
  margin-right: 1em;
  font-size: 1.5em;
  padding: 0.3em;
}

#send-btn {
  flex: 0 0 auto;
  font-size: 1.5em;
  padding: 0.3em;
  cursor: pointer;
}


#login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  font-size: 2em;
  transition: top 0.2s, opacity 0.2s;
}

#login-box.hidden {
  top: -100vh;
  opacity: 0;
}

#login-box > div {
  padding: 1em;
  background: #fff;
  border-radius: 6px;
}

#login-box h2 {
  text-align: center;
  margin-bottom: 0.5em;
}

#login-box input {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  padding: 1rem;
}
